<a href="https://colab.research.google.com/github/Mvital74/datasharing/blob/master/exercicio_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [154]:
import pandas as pd
import numpy as np

# Carregar Data Frame
url = 'https://raw.githubusercontent.com/Mvital74/DSWP/master/Dataframes/FIFA.csv'
df_fifa18 = pd.read_csv(url, index_col = 'ID')
df_fifa18.head()

        Unnamed: 0               Name  ...  GKReflexes Release Clause
ID                                     ...
158023           0           L. Messi  ...         8.0        €226.5M
20801            1  Cristiano Ronaldo  ...        11.0        €127.1M
190871           2          Neymar Jr  ...        11.0        €228.1M
193080           3             De Gea  ...        94.0        €138.6M
192985           4       K. De Bruyne  ...        13.0        €196.4M

[5 rows x 88 columns]

In [155]:
#Transformar para lower
def transformacao_lower(df):
    # Primeira transformação: Aplicar lower() nos nomes das COLUNAS:
    df.columns = [col.lower() for col in df.columns]

In [156]:
transformacao_lower(df_fifa18)
df_fifa18.head(3)

        unnamed: 0               name  ...  gkreflexes release clause
ID                                     ...
158023           0           L. Messi  ...         8.0        €226.5M
20801            1  Cristiano Ronaldo  ...        11.0        €127.1M
190871           2          Neymar Jr  ...        11.0        €228.1M

[3 rows x 88 columns]

In [157]:
df_fifa18.columns

Index(['unnamed: 0', 'name', 'age', 'photo', 'nationality', 'flag', 'overall',
       'potential', 'club', 'club logo', 'value', 'wage', 'special',
       'preferred foot', 'international reputation', 'weak foot',
       'skill moves', 'work rate', 'body type', 'real face', 'position',
       'jersey number', 'joined', 'loaned from', 'contract valid until',
       'height', 'weight', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw',
       'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm',
       'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb', 'crossing',
       'finishing', 'headingaccuracy', 'shortpassing', 'volleys', 'dribbling',
       'curve', 'fkaccuracy', 'longpassing', 'ballcontrol', 'acceleration',
       'sprintspeed', 'agility', 'reactions', 'balance', 'shotpower',
       'jumping', 'stamina', 'strength', 'longshots', 'aggression',
       'interceptions', 'positioning', 'vision', 'penalties', 'composure',
       'marking', 'standingtackle', 'slidingtackle', 'gkdiving', 'gkhandling',
       'gkkicking', 'gkpositioning', 'gkreflexes', 'release clause'],
      dtype='object')

In [158]:
df_fifa18_slice = df_fifa18[['name', 'age', 'nationality','club','value','wage','overall', 'potential', 'position', 'sprintspeed', 'shotpower']]
df_fifa18_slice

                      name  age nationality  ... position sprintspeed shotpower
ID                                           ...
158023            L. Messi   31   Argentina  ...       RF        86.0      85.0
20801    Cristiano Ronaldo   33    Portugal  ...       ST        91.0      95.0
190871           Neymar Jr   26      Brazil  ...       LW        90.0      80.0
193080              De Gea   27       Spain  ...       GK        58.0      31.0
192985        K. De Bruyne   27     Belgium  ...      RCM        76.0      91.0
...                    ...  ...         ...  ...      ...         ...       ...
238813        J. Lundstram   19     England  ...       CM        57.0      43.0
243165  N. Christoffersson   19      Sweden  ...       ST        39.0      41.0
241638           B. Worman   16     England  ...       ST        69.0      45.0
246268      D. Walker-Rice   17     England  ...       RW        60.0      64.0
246269           G. Nugent   16     England  ...       CM        55.0      43.0

[18207 rows x 11 columns]

In [159]:
df_fifa18_slice.dtypes # Necessidade de transformar value e wage em int

name            object
age              int64
nationality     object
club            object
value           object
wage            object
overall          int64
potential        int64
position        object
sprintspeed    float64
shotpower      float64
dtype: object

In [160]:
df_fifa18_slice.count() # Verificar NaN

name           18207
age            18207
nationality    18207
club           17966
value          18207
wage           18207
overall        18207
potential      18207
position       18147
sprintspeed    18159
shotpower      18159
dtype: int64

In [161]:
df_fifa18_slice.isnull().sum() # Qtdade NaN

name             0
age              0
nationality      0
club           241
value            0
wage             0
overall          0
potential        0
position        60
sprintspeed     48
shotpower       48
dtype: int64

In [162]:
df_fifa18_slice['club'] = df_fifa18_slice['club'].fillna('Free Agent')
df_fifa18_slice['position'] = df_fifa18_slice['club'].fillna('Not Identified')
df_fifa18_slice = df_fifa18_slice.fillna(0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [163]:
df_fifa18_slice.isnull().sum() # Qtdade NaN

name           0
age            0
nationality    0
club           0
value          0
wage           0
overall        0
potential      0
position       0
sprintspeed    0
shotpower      0
dtype: int64

In [164]:
df_fifa18_slice['value'] = df_fifa18_slice['value'].str.replace('€','')
df_fifa18_slice['wage'] = df_fifa18_slice['wage'].str.replace('€','')

In [165]:
df_fifa18_slice

                      name  age  ... sprintspeed shotpower
ID                               ...
158023            L. Messi   31  ...        86.0      85.0
20801    Cristiano Ronaldo   33  ...        91.0      95.0
190871           Neymar Jr   26  ...        90.0      80.0
193080              De Gea   27  ...        58.0      31.0
192985        K. De Bruyne   27  ...        76.0      91.0
...                    ...  ...  ...         ...       ...
238813        J. Lundstram   19  ...        57.0      43.0
243165  N. Christoffersson   19  ...        39.0      41.0
241638           B. Worman   16  ...        69.0      45.0
246268      D. Walker-Rice   17  ...        60.0      64.0
246269           G. Nugent   16  ...        55.0      43.0

[18207 rows x 11 columns]

In [204]:
df_fifa18_slice['wage'] = df_fifa18_slice['wage'].map(lambda x: int(x.replace('K', ''))*1000)
df_fifa18_slice

                      name  age  ... sprintspeed shotpower
ID                               ...
158023            L. Messi   31  ...        86.0      85.0
20801    Cristiano Ronaldo   33  ...        91.0      95.0
190871           Neymar Jr   26  ...        90.0      80.0
193080              De Gea   27  ...        58.0      31.0
192985        K. De Bruyne   27  ...        76.0      91.0
...                    ...  ...  ...         ...       ...
238813        J. Lundstram   19  ...        57.0      43.0
243165  N. Christoffersson   19  ...        39.0      41.0
241638           B. Worman   16  ...        69.0      45.0
246268      D. Walker-Rice   17  ...        60.0      64.0
246269           G. Nugent   16  ...        55.0      43.0

[18207 rows x 11 columns]

In [205]:
def money_num(money):
  if money[-1] == 'M':
    return float(money.replace('M', ''))*1000000
  else:
    return float(money.replace('K', ''))*1000

df_fifa18_slice['value'] = df_fifa18_slice['value'].apply(money_num)
df_fifa18_slice

                      name  age  ... sprintspeed shotpower
ID                               ...
158023            L. Messi   31  ...        86.0      85.0
20801    Cristiano Ronaldo   33  ...        91.0      95.0
190871           Neymar Jr   26  ...        90.0      80.0
193080              De Gea   27  ...        58.0      31.0
192985        K. De Bruyne   27  ...        76.0      91.0
...                    ...  ...  ...         ...       ...
238813        J. Lundstram   19  ...        57.0      43.0
243165  N. Christoffersson   19  ...        39.0      41.0
241638           B. Worman   16  ...        69.0      45.0
246268      D. Walker-Rice   17  ...        60.0      64.0
246269           G. Nugent   16  ...        55.0      43.0

[18207 rows x 11 columns]

In [223]:
pd.set_option('max_rows', 99999)
df_nacionalidade = df_fifa18_slice.groupby(['nationality']).agg({'age': ['count']})
df_nacionalidade.sort_values(('age', 'count'), ascending=False)

                       age
                     count
nationality
England               1662
Germany               1198
Spain                 1072
Argentina              937
France                 914
Brazil                 827
Italy                  702
Colombia               618
Japan                  478
Netherlands            453
Sweden                 397
China PR               392
Chile                  391
Republic of Ireland    368
Mexico                 366
United States          353
Poland                 350
Norway                 341
Saudi Arabia           340
Denmark                336
Korea Republic         335
Portugal               322
Turkey                 303
Austria                298
Scotland               286
Belgium                260
Australia              236
Switzerland            220
Uruguay                149
Senegal                130
Wales                  129
Croatia                126
Serbia                 126
Nigeria                121
Ghana                  114
Greece                 102
Ivory Coast            100
Czech Republic         100
Cameroon                90
Morocco                 85
Paraguay                85
Northern Ireland        80
Russia                  79
Ukraine                 73
South Africa            71
Venezuela               67
Finland                 67
Canada                  64
Bosnia Herzegovina      61
Algeria                 60
Slovenia                55
Slovakia                54
Romania                 54
DR Congo                52
Iceland                 47
New Zealand             44
Mali                    43
Ecuador                 43
Albania                 40
Hungary                 38
Peru                    37
Kosovo                  33
Bulgaria                32
Jamaica                 32
Tunisia                 32
Guinea                  31
Egypt                   31
India                   30
Costa Rica              30
Bolivia                 30
Georgia                 26
Congo                   25
Montenegro              23
FYR Macedonia           20
Cape Verde              19
Iran                    17
Honduras                16
Burkina Faso            16
Gambia                  15
Angola                  15
Gabon                   15
Panama                  15
Guinea Bissau           15
Benin                   15
Curacao                 14
Israel                  14
Zimbabwe                13
Estonia                 13
Togo                    12
Madagascar              12
Armenia                 10
Haiti                   10
Kenya                   10
Zambia                   9
Syria                    9
Lithuania                8
Luxembourg               8
Cyprus                   8
Iraq                     7
Faroe Islands            6
Latvia                   6
Uganda                   6
Comoros                  6
Sierra Leone             6
Equatorial Guinea        5
El Salvador              5
Azerbaijan               5
Thailand                 5
Moldova                  5
Suriname                 4
Trinidad & Tobago        4
Afghanistan              4
Belarus                  4
Cuba                     4
Kazakhstan               4
Korea DPR                4
Antigua & Barbuda        4
Mozambique               4
Montserrat               4
Mauritania               4
Libya                    4
Central African Rep.     3
Burundi                  3
Guatemala                3
Liechtenstein            3
Niger                    3
St Kitts Nevis           3
Sudan                    3
Barbados                 3
Namibia                  3
Tanzania                 3
Guyana                   3
Hong Kong                2
Nicaragua                2
Dominican Republic       2
Bermuda                  2
Chad                     2
Eritrea                  2
Philippines              2
Uzbekistan               2
Botswana                 1
United Arab Emirates     1
Belize                   1
Andorra                  1
São Tomé & Príncipe      1
South Sudan              1
Ethiopia                 1
Fiji                     1
New Caledonia            1
Oman                     1
Palestine                1
Mauritius                1
Malta                    1
Puerto Rico              1
Qatar                    1
Liberia                  1
Rwanda                   1
Lebanon                  1
Kuwait                   1
Indonesia                1
Guam                     1
St Lucia                 1
Grenada                  1
Jordan                   1